/*
 *
 * Matthew Girdler
 *
 */

/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #16A085;
}

/* Lists */
ul {
    padding-left: 20px;
}


/* Title */
.title,
.title:focus,
.title:hover {
    font-weight: 500;
    color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #fff;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #16A085;
  border: 1px solid #16A085;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
}

.cover-wrapper {
  /* Styling for cover section */
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);

  /* Extra markup and styles for table-esque vertical and horizontal centering */
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.cover-wrapper-inner {
  background: #333 url("../images/plymouth-bw.jpg") no-repeat;
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}

/*
 * Header
 */

.masthead-brand {
  color: #333;
  margin-top: 10px;
  margin-bottom: 30px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  color: #16A085; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #16A085;
  border-bottom-color: #16A085;
}

@media (min-width: 768px) {
  .masthead-brand {
     /*float: left; */
  }
  .masthead-nav {
    float: right;
  }
}

/*
 * Cover
 */

.cover {
  padding: 0 20px;
  margin-top: 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}

.lead {
    margin-top: 30px;
}

/*
 * Info
 */
.info {
  padding: 50px 50px 20px;
}

/*
 * About
 */
.about {
  font-weight:500;
  font-size:1em;
  width:100%;
  float:left;
  padding-bottom: 20px;
  border-bottom: 1px solid #d6d6d6;
}

/*
 * Section
 */
.section {
  width:100%;
  float:left;
  padding-bottom: 20px;
  /*border-bottom: 1px solid #d6d6d6;*/
}

/*
 * Subsection
 */
.subsection {
  font-weight:400;
  width:100%;
  float:left;
}

/*
 * Subsection title
 */
.subsection-title {
  text-align: center;
  margin-bottom: 30px;
  line-height: 30px;
}

.subsection-title h1 {
  color:#888;
  font-size: 1.3em;
}


/*
 * Subsection entry
 */
.subsection-entry {
  margin: 15px 0;
  padding:0;
}
.subsection-entry h4 {
  margin: 20px 0;
  color: #16A085;
}
.subsection-entry p {
  margin: 15px 0;
}

/*
* TODO - Implement rows to maintain vertical alignment
*/

/*
 * Subsection columns
 */
.subsection-column {
  float: left;
  padding-top: 10px;
}
.subsection-column ul {
  width: 100%;
  padding-left: 20px;
  /*list-style-type: none;*/
}
.subsection-column ul li {
  padding: 2px 0;
}
.subsection-column-quarter {
  width: 25%;
}
.subsection-column-third {
  width: 33%;
}
.subsection-column-half {
  width: 50%;
}

/*
 * Footer
 */
.footer {
 padding: 20px; 0;
 border-top: 1px solid #d6d6d6;
}
.footer-wrapper {
 color: #000;
 text-align: center;

 display: table;
 width: 100%;
 height: 100%; /* For at least Firefox */
 min-height: 100%;
 -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
         box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.footer-wrapper-inner {
 background: #fff;
 display: table-cell;
 vertical-align: top;
}
.footer-container {
 border-top: 1px solid #d6d6d6;
 margin-right: auto;
 margin-left: auto;
 padding: 20px 0;
}
.footer-link {
  margin: 15px 0;
  font-weight: bold;
  text-align: center;
}
.footer-link a {
  color: #000;
}
.footer-link a:hover {
  color: #888888;
}
.footer-quote {
  margin: 15px 30px;
}

.quote {
  margin-left: 5px;
  font-style: italic;
}

.preamble {
  padding: 10px 0;
  /*border-bottom: 1px solid #d6d6d6;*/
  font-weight: bold;
}

/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: absolute;
    top: 0;
  }
  .mastfoot {
    position: absolute;
    bottom: 0;
  }
  /* Start the vertical centering */
  .cover-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container,
  .info,
  .footer {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
  .subsection-title {
    float:left;
    width:15%;
    color:#888;
    text-align:left;
    margin:0;
    padding:0;
    line-height: 15px;
  }
  .subsection-entry {
    width:68%;
    float:right;
    margin:10px 0;
    padding:0;
  }
  .subsection-entry h4 {
    margin: 10px 0;
    color: #16A085;
  }
  .subsection-entry p {
    margin: 10px 0;
  }
  .footer-link {
    width: 50%;
    float: left;
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container,
  .footer-container {
    width: 700px;
  }
  .about p {
    font-size:1.2em;
    width:90%;
    margin:auto;
    padding: 5px 0px;
  }
  .info,
  .footer {
    width: 800px;
  }
}
